.alert {
  color: #d82020;
}

.userdanger {
  color: #c51e1e;
  font-weight: bold;
  font-size: 185%;
}

.bolddanger {
  color: #c51e1e;
  font-weight: bold;
}

.danger {
  color: #c51e1e;
}

.warning {
  color: #c51e1e;
  font-style: italic;
}

.alertwarning {
  color: #ff0000;
  font-weight: bold;
}

.boldwarning {
  color: #c51e1e;
  font-style: italic;
  font-weight: bold;
}

.announce {
  color: #c51e1e;
  font-weight: bold;
}

.boldannounce {
  color: #c51e1e;
  font-weight: bold;
}

.minorannounce {
  color: #c51e1e;
  font-weight: bold;
  font-size: 185%;
}

.minoralert {
  color: #a4bad6;
  font-size: 125%;
}

.priorityannounce {
  color: #a4bad6;
  font-weight: bold;
  font-size: 225%;
}

.prioritytitle {
  color: #6685f5;
  font-weight: bold;
  font-size: 185%;
}

.priorityalert {
  color: #c51e1e;
  font-size: 140%;
}

.greenannounce {
  color: #059223;
  font-weight: bold;
}

.rose {
  color: #ff5050;
}

.info {
  color: #9ab0ff;
}

.notice {
  color: #6685f5;
}

.tinynotice {
  color: #6685f5;
  font-size: 85%;
}

.tinynoticeital {
  color: #6685f5;
  font-style: italic;
  font-size: 85%;
}

.smallnotice {
  color: #6685f5;
  font-size: 90%;
}

.smallnoticeital {
  color: #6685f5;
  font-style: italic;
  font-size: 90%;
}

.bolditalic {
  font-style: italic;
  font-weight: bold;
}

.boldnotice {
  color: #6685f5;
  font-weight: bold;
}

.hear {
  color: #6685f5;
  font-style: italic;
}

.unconscious {
  color: #a4bad6;
  font-weight: bold;
}
