/* RADIO COLORS */
/* IF YOU CHANGE THIS KEEP IT IN SYNC WITH TGUI CONSTANTS */
.binarysay {
  color: #1e90ff;
}

.binarysay a {
  color: #00ff00;
}

.binarysay a:active,
.binarysay a:visited {
  color: #88ff88;
}

.radio {
  color: #1ecc43;
}

.sciradio {
  color: #c68cfa;
}

.comradio {
  color: #008080;
}

.secradio {
  color: #dd3535;
}

.bsradio {
  color: #9d3c38;
}

.proradio {
  color: #209848;
}

.medradio {
  color: #57b8f0;
}

.medaltradio {
  color: #57b8f0;
}

.engradio {
  color: #a66300;
}

.suppradio {
  color: #b88646;
}

.srvradio {
  color: #6ca729;
}

.syndradio {
  color: #8f4a4b;
}

.centcomradio {
  color: #2681a5;
}

.airadio {
  color: #d65d95;
}

.ntradio {
  color: #d4af37;
}

.redteamradio {
  color: #ff4444 !important;
}

.blueteamradio {
  color: #3434fd !important;
}
