.ooc {
  color: #cca300;
}
.deadsay {
  color: #e2c1ff;
}

.shadowling {
  color: #8e8a99;
}

.cult {
  color: #973e3b;
}

.blob {
  color: #ee4000;
}

.blobannounce {
  color: #556b2f;
  font-weight: bold;
  font-size: 185%;
}

.alien {
  color: #855d85;
}
