.alert {
  color: #ff0000;
}

h1.alert,
h2.alert {
  color: #000000;
}

.userdanger {
  color: #ff0000;
  font-weight: bold;
  font-size: 185%;
}

.bolddanger {
  color: #ff0000;
  font-weight: bold;
}

.danger {
  color: #ff0000;
}

.tinydanger {
  color: #ff0000;
  font-size: 85%;
}

.smalldanger {
  color: #ff0000;
  font-size: 90%;
}

.warning {
  color: #ff0000;
  font-style: italic;
}

.alertwarning {
  color: #ff0000;
  font-weight: bold;
}

.boldwarning {
  color: #ff0000;
  font-style: italic;
  font-weight: bold;
}

.announce {
  color: #228b22;
  font-weight: bold;
}

.boldannounce {
  color: #ff0000;
  font-weight: bold;
}

.minorannounce {
  color: #ff0000;
  font-weight: bold;
  font-size: 185%;
}

.minoralert {
  color: #000000;
  font-size: 125%;
}

.priorityannounce {
  color: #000000;
  font-weight: bold;
  font-size: 225%;
}

.prioritytitle {
  color: #0000ff;
  font-weight: bold;
  font-size: 185%;
}

.priorityalert {
  color: #ff0000;
  font-size: 140%;
}

.greenannounce {
  color: #00ff00;
  font-weight: bold;
}

.rose {
  color: #ff5050;
}

.info {
  color: #0000cc;
}

.notice {
  color: #000099;
}

.tinynotice {
  color: #000099;
  font-size: 85%;
}

.tinynoticeital {
  color: #000099;
  font-style: italic;
  font-size: 85%;
}

.smallnotice {
  color: #000099;
  font-size: 90%;
}

.smallnoticeital {
  color: #000099;
  font-style: italic;
  font-size: 90%;
}

.boldnotice {
  color: #000099;
  font-weight: bold;
}

.hear {
  color: #000099;
  font-style: italic;
}

.unconscious {
  color: #0000ff;
  font-weight: bold;
}
