/* RADIO COLORS */
/* IF YOU CHANGE THIS KEEP IT IN SYNC WITH TGUI CONSTANTS */
.binarysay {
  color: #20c20e;
  background-color: #000000;
  display: block;
}

.binarysay a {
  color: #00ff00;
}

.binarysay a:active,
.binarysay a:visited {
  color: #88ff88;
}

.radio {
  color: #008000;
}

.sciradio {
  color: #993399;
}

.comradio {
  color: #948f02;
}

.secradio {
  color: #a30000;
}

.bsradio {
  color: #88100a;
}

.proradio {
  color: #209848;
}

.medradio {
  color: #337296;
}

.medaltradio {
  color: #337296;
}

.engradio {
  color: #fb5613;
}

.suppradio {
  color: #a8732b;
}

.srvradio {
  color: #6eaa2c;
}

.syndradio {
  color: #6d3f40;
}

.centcomradio {
  color: #686868;
}

.airadio {
  color: #ff00ff;
}

.ntradio {
  color: #d4af37;
}

.redteamradio {
  color: #ff0000 !important;
}

.blueteamradio {
  color: #0000ff !important;
}
