.ooc {
  color: #002eb8;
}

.deadsay {
  color: #5c00e6;
}

.shadowling {
  color: #3b2769;
}

.cult {
  color: #973e3b;
}

.blob {
  color: #ee4000;
}

.blobannounce {
  color: #323f1c;
  font-weight: bold;
  font-size: 185%;
}

.alien {
  color: #543354;
}
