@use '../colors.scss';

$department_map: (
  'heads': colors.$blue,
  'sec': colors.$red,
  'bls': colors.$grey,
  'med': colors.$teal,
  'sci': colors.$purple,
  'chr': colors.$yellow,
  'sup': colors.$green,
  'eng': colors.$orange,
  'pro': colors.$brown,
  'civ': colors.$white,
  'bot': colors.$pink,
  'ldg': colors.$brown,
  'misc': colors.$label,
);

.CrewManifest {
  @each $department-name, $color-value in $department_map {
    &--#{$department-name} {
      .Section {
        &__title {
          border-color: $color-value;
        }
        &__titleText {
          color: $color-value;
        }
      }
    }
  }

  &__Cell {
    padding: 3px 0;

    &--Rank {
      color: colors.$label;
    }
  }

}
