<!-- 
Title: Gun Kit
Used In File(s): \code\mododuels\projectiles\gun_kit.dm
 -->

<h2>Designs</h2>
 <div class='itemLabel'>Useable Parts: </div> <div class='itemContent'>{{:data.gunparts}}</div> 

<b>Following Blueprints</b>:
<table style="width:100%">


{{for data.unlocked_gun_replications}}
	<div class="unlocked_gun_replications">
		{{:helper.link(value.name, 'gear', {'buy_item' : value.ref}, value.can_buy ? null : 'disabled')}} - <span class="white">{{:value.cost}}</span>
	</div>
	<div class="unlocked_gun_replications">
		{{:value.description}}
	</div>
{{/for}}



