{{:helper.syndicateMode()}}
{{if data.message}}
	##INFO: {{:data.message}}<br><br>{{:helper.link('RESET', null, { 'PRG_reset' : 1 })}}
{{else data.running}}
	##Attempting to decrypt file codes. Please wait.<br>
	##Rate: {{:data.rate}} PHash/s<br>
	
	{{ for (var x = 0; x < 10; x++) { }}
		{{ for (var y = 0; y < 24; y++) { }}
			{{:Math.random() < data.completion_fraction ? "1" : "0"}}
		{{ } }}
		<br>
	{{ } }}
	
	<br>
	{{:helper.link('ABORT', null, { 'PRG_reset' : 1 })}}
{{else}}
	{{:helper.link('DECOMPRESS', null, { 'PRG_execute' : 1 })}}
{{/if}}