<!--
Title: Nuke Control Panel/Nuclear Bomb Defusion
Used In File(s): \code\game\gamemodes\nuclear\nuclearbomb.dm
-->
<div class="item">
	<b>Authorization Disk:</b> {{if data.auth}}{{:helper.link('++++++++++', 'eject', {'auth' : 1})}} {{else}} {{:helper.link('----------', 'disk', {'auth' : 1})}}{{/if}}
</div>
<hr>
<div class="item">
	<div><b>Status:</b> {{:data.authstatus}} - {{:data.safe}}</div>
	<div><b>Timer:</b> {{:data.time}}</div>
	<div><b>Sequence Stage:</b> {{:data.sequence_stage}}</div>
</div>
<div class="item">
	{{if data.auth && data.yescode && !data.interface_locked}}
		<div class="item">
			<b>Timer:</b> {{:helper.link('Start', 'play', {'timer' : 1}, data.timer ? 'disabled' : '')}}
		</div>
		<div class="item">
			<b>Time:</b> {{:helper.link('--', '', {'time' : -10}, data.time <= 120 ? 'disabled' : '')}}{{:helper.link('-', '', {'time' : -1}, data.time <= 120 ? 'disabled' : '')}} {{:data.time}} {{:helper.link('+', '', {'time' : 1})}}{{:helper.link('++', '', {'time' : 10})}}
		</div>
		<div class="item">
			<b>Safety:</b> {{:helper.link('Engaged', 'info', {'safety' : 1}, data.safety ? 'selected' : '')}} {{:helper.link('Disengaged', 'alert', {'safety' : 0}, data.safety ? '' : 'redButton')}}
		</div>
	{{else}}
		<div class="item">
			<b>Timer:</b> {{:helper.link('Start', 'play', null, 'disabled')}}
		</div>
		<div class="item">
			<b>Time:</b> {{:helper.link('-', '', null, 'disabled')}}{{:helper.link('-', '', null, 'disabled')}} {{:data.time}} {{:helper.link('+', '', null, 'disabled')}}{{:helper.link('++', '', null, 'disabled')}}
		</div>
		<div class="item">
			<b>Safety:</b> {{:helper.link('Engaged', 'info', null, 'disabled')}} {{:helper.link('Disengaged', 'alert', null, 'disabled')}}
		</div>
	{{/if}}
	{{if data.auth && data.can_abort && !data.interface_locked}}
		<div class="item">
			<b>Abort:</b> {{:helper.link('ABORT SEQUENCE', 'cross', {'abort' : 1}, 'redButton')}}
		</div>
	{{/if}}
</div>
<hr>
{{if data.interface_locked}}
	<div class="item">
		<div style="color: red; font-weight: bold; text-align: center;">
			INTERFACE LOCKED - ABORT WINDOW EXPIRED
		</div>
	</div>
	<hr>
{{/if}}
<div class="item">
	<div class="item">
		>{{if data.message}} {{:data.message}}{{/if}}
	</div>
	<div class="item">
		<div class="item">
			{{:helper.link('1', '', {'type' : 1})}}{{:helper.link('2', '', {'type' : 2})}}{{:helper.link('3', '', {'type' : 3})}}
		</div>
		<div class="item">
			{{:helper.link('4', '', {'type' : 4})}}{{:helper.link('5', '', {'type' : 5})}}{{:helper.link('6', '', {'type' : 6})}}
		</div>
		<div class="item">
			{{:helper.link('7', '', {'type' : 7})}}{{:helper.link('8', '', {'type' : 8})}}{{:helper.link('9', '', {'type' : 9})}}
		</div>
		<div class="item">
			{{:helper.link('R', '', {'type' : 'R'})}}{{:helper.link('0', '', {'type' : 0})}}{{:helper.link('E', '', {'type' : 'E'})}}
		</div>
	</div>
</div>
